
.boton {
    width: 200px;
    height: 50px;
    background-color: rgb(150, 57, 205);
    border-radius: 16px;
    color: white;
    display: inline-block;
    text-align:center;
    margin-left: 5px;

  }
  
  .boton:active {
      background-color: red;
  }