body, html {
  height: 100%;
  background-color: rgb(133, 121, 114);
  padding: 0px;
  font-size: 15px;
  color:beige;
  font-style: normal white;
  margin: 0px !important;
  width: 100%;
}
* {
  box-sizing: border-box;
}
