

body, html {
  height: 100%;
  background-color: rgb(133, 121, 114);
  padding: 0px;
  font-size: 15px;
  margin: 0px !important;
  width: 100%;
}

.navbar {
  width: 100%;
  height: auto;
  display: contents;
}

.titulos {
  position: fixed;
  top: 15em;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.nav-link {
 display: inline-flexbox;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pedidosya_name_logo{
  width: 200px;
  height:90px;
  align-self:center;
  margin-right:50px;
  }

.navbar_signin_icon{
  display: flex;
   align-self:center;
  }
  .navbar_cartdetail{
  height: 40px;
   width:0.5px; 
   background-color:lightgray;
    align-self:center;
  }
  .navbar_cartcount{

    background-image: url(/bucket_cart_icon.svg);
    background-repeat: no-repeat;
    height: 51.2px;
     width:51.2px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;

}
  .navbar_amount{
  align-self:center;
   margin-left:15px;
  }
  .search-input{
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.search-input .lupa{
    width: 35px;
    height: 35px;
    color: var(--color);;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input .input-text{
    font-size: 24px;
    width: 100%;
}

input{
    display: flex;
    height: 30px;
    padding-right: 0;
    line-height: 1.25em;
    font-weight: 300;
    border-radius: 8px;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border: none;
    color: var(--p-color);
}

input:focus{
    outline: none !important;
    border:0px solid transparent;
    color: #213547
}