

body, html {
  height: 100%;
  background-color: rgb(133, 121, 114);
  padding: 0px;
  font-size: 15px;
  margin: 0px !important;
  width: 100%;
}

.titulos {
  position: fixed;
  top: 15em;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.nav-link {
 display: inline-flexbox;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pedidosya_name_logo{
  width: 200px;
  height:90px;
  align-self:center;
  margin-right:50px;
  }

.navbar_signin_icon{
  display: flex;
   align-self:center;
  }
  .navbar_cartdetail{
  height: 40px;
   width:0.5px; 
   background-color:lightgray;
    align-self:center;
  }
  .navbar_amount{
  align-self:center;
   margin-left:15px;
  }