
.navbar {
    width: 100%;
    height: auto;
    display: inline-flex;
    align-items: center;
  }
  

  .light {
    background-color: #fcf7f7;
  }
  
  .dark {
    background-color: rgb(148, 148, 148);
    
  }


  
  .pedidosya_name_logo{
    width: 100px !important;
    height:90px;
    align-self:center;
    margin-right:50px;
    }
  
  .navbar_signin_icon{
    display: flex;
    align-self:center;
    margin-top: 5px;
    }
    .navbar_cartdetail{
    height: 40px;
    width:0.5px; 
    background-color:lightgray;
    align-self:center;
    }
  
    

  
  .titulo{
    color:black !important;
  }

.links{
  color: rgb(66, 65, 65);
  font-weight: bold;
  justify-content: center;
  font-size: larger;
  text-align: center;
  display: inline-flex;
}
.links:hover{
  color: rgb(255, 0, 0);
}

.logeo{
  text-align: center;
  margin-top: 15px;
  color: black;
}

@media screen and (min-width: 0) {
  .links {
    padding: 2px;
    margin-top: 0;
    justify-content: left;
}
.btnEn{
  width: 80px;
  background-color: blue  ;
}
.btnEs{
  width: 80px;
  background-color: green;
}
.btnEn:hover{
  background-color: transparent  ;
  color: black;
}
.btnEs:hover{
  background-color: transparent;
  color: black;
}
.gpobtn{
  flex-direction: column;
}
}
@media screen and (min-width: 720px) {
  .links {
    padding: 25px;
    margin-top: 10px;
  }
  .btnEn{
    padding: 1rem;
    margin-top: 20px;
    height: fit-content;
    background-color: blue  ;
  }
  .mode{
    padding: 1rem;
    margin-top: 20px;
    height: fit-content;
    background-color: orange  ;

  }
  .btnEs{
    padding: 1rem;
    margin-top: 20px;
    height: fit-content;
    background-color: green;
  }
  .btnEn:hover{
    padding: 1rem;
    height: fit-content;
    background-color: transparent  ;
    color: black;
  }
  .btnEs:hover{
    padding: 1rem;
    height: fit-content;
    background-color: transparent;
    color: black;
  }
  .gpobtn{
    flex-direction: row;
  }
}